.game h1 {
    align-items: center;
    justify-content: center;
    font-size: 3.5em;
}

.score span {
    font-weight: bold;
}

.tip span {
    color: black
}

.wordContainer {
    align-items: center;
    justify-content: center;
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #7d84b294;
    display: flex;
}

.letter, .blankSquare {
    font-size: 70px;
    line-height: 1.5;
    border: 3px solid rgba(134, 87, 87, 0.507);
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.301);
    color: #7D84B2;
    font-weight: bold;
}

.letterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2em;
    
}

.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letterContainer input {
    background-color: #483f3f57;
    height: 50px;
    width: 50px; 
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    margin-right: 1em;
    color: #484950;
}

p {
    color: #535353;
}

.info button {
    background: #7D84B2;
    border-radius: 100px;
    padding: 0 18px;
    margin-left: 30px;
}

.info button:hover {
    background-color: #333333;
}